<!-- Content ... -->
<section class="modal-card-body about_body">
    <h1>About the <i>Images of the World</i> Database</h1>

    <h2>Overview</h2>
    <p>
        The “Images of the World” Manuscripts Database of the Imago Mundi Tradition is part of the 3-year research
        project <a href="https://definingeurope.sites.uu.nl/" target="_blank">Defining ‘Europe’ in Medieval European
            Geographical Discourse: the Image of the World and its Legacy, 1110-1500</a>, funded by <a
            href="https://www.nwo.nl/en" target="_blank">the Netherlands Organisation for
            Scientific Research (NWO)</a> under the <a
            href="https://www.nwo.nl/en/funding/our-funding-instruments/nwo/innovational-research-incentives-scheme/index.html"
            target="_blank">Innovational Research Incentives Scheme</a> VENI. The project commenced on February 1, 2017,
        at <a href="https://www.uu.nl/en/research/institute-for-cultural-inquiry" target="_blank">The Institute for
            Cultural Inquiry
            (ICON)</a>, <a href="https://www.uu.nl/en/organisation/faculty-of-humanities" target="_blank">Faculty
            of Humanities</a> at Utrecht University.
    </p>
    <p>
        The database includes over 350 manuscripts containing the Imago
        Mundi of Honorius Augustodunensis and its vernacular adaptations. Manuscripts containing fragments, extracts,
        and extensive quotations in compilations are also included. Vernacular texts loosely based on the Imago mundi,
        as well as texts that constitute translations in the conventional sense of the word are included in the
        database. (For a full list of texts currently included, see below).
    </p>
    <p>
        The database is intended both a tool for researchers
        interested in the Imago Mundi tradition and a way of presenting the results of the Defining Europe project. One
        of the goals of the project is to establish how the medieval geographical definition of Europe as found in the
        Imago Mundi spread in the period 1110-1500. The dissemination of Honorius’s text through Europe is thus a
        central interest of the database. The manuscript catalogue presented in the database is thus complemented by an
        interactive map, permitting the user to track the historical locations of individual manuscripts (where known).
    </p>


    <h2>Information Provided</h2>

    <p>For each version of the Imago Mundi, the database provides the following information: manuscript shelfmark;
        language; text type (complete text, fragment, etc.); location within the manuscript; place of origin and
        historical locations of the manuscript; incipit and explicit of the text; author attribution; manuscript
        context; images of the manuscripts or links to online images where available. A short bibliography and a section
        with additional comments are also included for each manuscript.
    </p>
    <p>
        Each entry in the catalogue focuses on the text of the Imago Mundi. All dates provided relate to the creation of
        the version of Imago Mundi text preserved in the manuscript. While in some instances this might also correspond
        to the date of the manuscript as a whole, this is not always so (in this case manuscript dates are given in the
        notes).
    </p>

    <h2>Text Titles</h2>
    <p>
        Since the texts included in the database circulated under a number of different titles, in order to facilitate
        identification, modern titles are used to identify the texts. The following titles are used:
    </p>
    <p>
        <ul>
            <li><i>Imago Mundi</i> – Latin</li>
            <li><i>L’Image du Monde</i> – French (Gautier de Metz)</li>
            <li><i>Mappe Monde</i> – French (Pierre de Beauvais)</li>
            <li><i>La Petite Philosopie</i> – Anglo-Norman</li>
            <li><i>Divisiones Mundi</i> – Anglo-Norman</li>
            <li><i>Delw y Byd</i> – Welsh</li>
            <li><i>Semeiança del Mundo</i> – Castilian</li>
            <li><i>Ymagine del Mondo</i> - Italian</li>
            <li><i>Ymago Mundi</i> – Old Norse</li>
            <li><i>Das Buch von der Forme und Bildnuβ der Welt</i> – German</li>
            <li><i>צלמות עולם </i> – Hebrew</li>
        </ul>
    </p>

    <h2>“Text Type”: Fragments, Lost Manuscripts, Extracts</h2>

    <p>
        The heading “Text Type” is used to indicate whether the text survives and whether it is preserved in complete or
        fragmentary form. The database includes lost copies of Imago Mundi texts which are known only from catalogues.
        Surviving versions of the Imago Mundi are dived into three categories, listed under the same heading. These
        categories are: “compete”, “section”, and “fragment”.
    </p>
    <p>
        “Complete” means that the entire text is preserved in the manuscript.
    </p>
    <p>
        “Section” refers to partial versions of or extracts from Imago Mundi texts.
    </p>
    <p>
        “Fragment” refers to partial versions of Imago Mundi texts, resulting from external circumstances after initial
        production (e.g. damage). For all partial or fragmented versions of the Imago Mundi texts an incipit and
        explicit are provided, as well as a reference to modern editions, where available.
    </p>
    <p>
        An attempt has been made to include the history and movement of each manuscript in the catalogue. Where
        available, historical locations and owners are listed in addition to place of origin. This information is
        presented on the interactive map.
    </p>

    <h2>Disclaimer</h2>

    <p>
        The database aims to bring together as much information available on the manuscript tradition of the Imago mundi
        family of texts as possible. We have relied on manuscript lists, library catalogues, editions, and scholarly
        publications relating to the texts and manuscripts included in the database, to compile the information. In some
        cases, manuscripts have been consulted directly to provide additional information or to confirm details of their
        contents. We have aimed to include all relevant information. All the information in the database is presented as
        it was available to us. Question marks are used to indicate uncertainty or lack of information.
    </p>
    <p>
        With a tradition as wide-spread and as multilingual as that of the Imago mundi, omissions and inaccuracies are
        inevitable. Our sources of information are listed for each manuscript and we will aim to correct errors and
        omissions as time progresses.
    </p>

    <h2>Acknowledgments</h2>
    <p>
        Each entry is accompanied with a bibliography, referring to the sources that were used to create it. An overview
        of overarching source material, used for multiple entries in the database, can be found in the general
        bibliography.
    </p>
    <p>
        The digital platform of the database was created by Robert Loeber at the Utrecht University Digital Humanities
        Lab. We would like to thank Robert Loeber and José de Kruif for their patience and help!
        We would also like to express our thanks to Sara Centili for graciously providing us with a copy of her thesis
        and to Thomas Falmagne for kindly providing us with references to manuscripts we had missed. We would also like
        to thank Aldo Coletto at the Biblioteca Braidense for information on the manuscripts coming from the Certosa di
        Pavia. Finally, we must acknowledge the generosity of the the Biblioteca Ambrosiana, Biblioteca Nazionale
        Braidense, Bibliothèque interuniversitaire de la Sorbonne, Bibliothèque nationale de France, Cambridge
        University Library, and the Österreichische Nationalbibliothek in providing permission to view their
        manuscripts.
    </p>
    <p>
        <i>Natalia Petrovskaia and Kiki Calis</i><br>
        Utrecht University
    </p>
    <br>
    <h2>General Bibliography</h2>

    <h3>Catalogues</h3>

    <h4>Austria</h4>
    <ol>
        <li>
            <i>Admond: Stiftsbibliothek</i><br>
            Jakob Wichner, Catalogus codicum manu scriptorum Admontensis (Admont 1888).
        </li>
        <li>
            <i>Göttweig: Stiftsbibliothek</i><br>
            Vinzenz Werl, Manuscripten-Catalog der Stifts-Bibliothek zu Göttweig I (Göttweig 1843);
        </li>
        <li>
            Rolf Bergmann and Stefanie Stricker, Katalog der althochdeutschen und altsächsischen Glossenhandschriften
            Bd.2 (Berlin/New York 2005).
        </li>
        <li>
            <i> Graz: Universitätsbibliothek</i><br>
            Othmar Wonisch, 'Die St. Lambrecht-Grazer Handschriften', Zentralblatt für Bibliothekswesen 35 (1918) 64-72;
        </li>
        <li>
            Anton Kern, Die Handschriften der Universitätsbibliothek Graz bd. 2 (Vienna 1956).
        </li>
        <li>
            Digital catalogue: http://sosa2.uni-graz.at/sosa/katalog/index.php
        </li>
        <li>
            <i>Klosterneuburg: Augustiner-Chorherrenstift</i><br>
            Hermann Pfeiffer–Berthold Černík, Catalogus codicum manu scriptorum, qui in bibliotheca Canonicorum
            Regularium S. Augustini Claustroneoburgi asservantur 1-6 (Vienna 1922- ?)
        </li>
        <li>
            <i>Melk: Stiftsbibliothek</i> <br>
            Vinzenz Staufer, Catalogus codicum manu scriptorum, qui in bibliotheca monasterii Mellicensis O.S.B.
            servantur I – III (Wien 1889).
        </li>
        <li>
            Christine Glaßner, Inventar der Handschriften des Benediktinerstiftes Melk, Teil 1: Von den Anfängen bis ca.
            1400, unter Mitarbeit von Alois Haidinger. Katalog- und Registerband (Wien 2000).
        </li>
        <li>
            <i>Salzburg: St. Peter’s Stiftsbibliothek</i><br>
            Gerold Hayer, Die deutschen Handschriften des Mittelalters der Erzabtei St. Peter zu Salzburg
            (Österreichische Akademie der Wissenschaften, phil.-hist. Klasse, Denkschriften 154 = Veröffentlichungen der
            Kommission für Schrift- und Buchwesen des Mittelalters III,1) (Wien 1982).
        </li>
        <li>
            <i>Salzburg: Universitätsbibliothek</i><br>
            Ernst Frisch, Handschriftenkatalog der Universitätsbibliothek Salzburg (Salzburg 1946).
        </li>
        <li>
            Anna Jungreithmayr, Die deutschen Handschriften der Universitätsbibliothek Salzburg, Unter Mitarbeit von
            Josef Feldner und Peter H. Pascher (Österreichische Akademie der Wissenschaften, phil.-hist. Klasse,
            Denkschriften 196 = Veröffentlichungen der Kommission für Schrift- und Buchwesen des Mittelalters, III,2)
            (Wien 1988).
        </li>
        <li>
            Digital catalogue: http://www.ubs.sbg.ac.at/sosa/handschriften/handschriftenlisteI.htm
        </li>
        <li>
            <i>Seitenstetten: Benediktinerstift</i><br>
            Rudolf Kapeller und Maximilian Pampichler, Codicum Manuscriptorum Bibliothecae Seitenstettensis Tomus I-II.
            2 Bde. und Registerbd (Seitenstetten ca. 1800) I, 296-301;
        </li>
        <li>
            Christine Glaßner, Inventar der mittelalterlichen Handschriften des Benediktinerstiftes Seitenstetten. Nach
            dem handschriftlichen Katalog (Wien 2005) 65.
        </li>
        <li>
            <i>Vienna: Österreichische Nationalbibliothek</i><br>
            Tabulae codicum manu scriptorum, praeter graecos et orientales in Bibliotheca Palatina Vindobonensi
            asservatorum. Edidit Academia Caesarea Vindobonensis. Vol. I-X (Wien 1864-1899);
        </li>
        <li>
            Franz Unterkircher, Die datierten Handschriften der Österreichischen Nationalbibliothek bis zum Jahre 1400,
            1. Teil: Text, 2. Teil: Tafeln (Katalog der datierten Handschriften in lateinischer Schrift in Österreich I)
            (Wien 1969).
        </li>
        <li>
            Digital catalogue: https://search.onb.ac.at/primo-explore/search?sortby=rank&vid=ONB&lang=de_DE
        </li>
        <li>
            <i>Zwettl: Stiftsbibliothek</i><br>
            Stephan Rössler, 'Verzeichniss der Handschriften der Bibliothek des Stiftes Zwettl', in: Die
            Handschriften-Verzeichnisse der Cistercienser-Stifte I (Xenia Bernardina II,1) (Wien 1891);
        </li>
        <li>
            Charlotte Ziegler and Joachim Rössl, Zisterzienserstift Zwettl. Katalog der Handschriften des Mittelalters,
            Teil II: Codex 101-200 (Scriptorium ordinis Cisterciensium) (Wien-München 1985).
        </li>
    </ol>

    <h4>Belgium</h4>
    <ol>
        <li>
            <i>Brussels: Koninklijke Bibliotheek van België</i> <br>
            J. Van den Gheyn and F. Lyna, Catalogue des manuscrits de la Bibliothèque royale de Belgique vol. I-XIII
            (Brussels 1901-1948);
        </li>
        <li>
            Alphonse Bayot, Catalogue des manuscrits français de la Bibliothèque Royale de Belgique (1928);
        </li>
        <li>
            R. Calcoen, Inventaire des manuscripts scientifiques de la Bibliothèque royale de Belgique vol. 1-5
            (Brussels
            1965-1975);
        </li>
        <li>
            Georges Dogaer and Marguerite Debae, De Librije van Filips de Goede (Brussels 1967);
        </li>
        <li>
            C. Gaspar en F. Lyna, Les principaux manuscrits à peintures de la Bibliothèque royale de Belgique vol.3
            (Brussels 1989).
        </li>
    </ol>
    <h4>Czech Republic</h4>
    <ol>
        <li>
            <i>Bruno: Archiv města Brna</i><br>
            Stanislav Petr, Soupis rukopisů knihovny při farním kostele svatého Jakuba v Brně (Prague 2007).
        </li>
        <li>
            <i>Prague: Národní knihovna České republiky </i><br>
            Josepho TruhláŘ, Catalogus Codicum Manu Scriptorum Latinorum: Qui in C.R. Bibliotheca Publica Atque
            Universitatis Pragensis Asservantur vol. 1: Codices 1-1665, Forulorum I-VIII (Prague 1905).
        </li>

    </ol>

    <h4>France</h4>
    <ol>
        <li>
            <i>Besancon: Bibliothèque municipale de Besancon</i><br>
            Digital catalogue: http://memoirevive.besancon.fr/?id=264
        </li>
        <li>
            <i>Chantilly, Musée Condé</i><br>
            Chantilly: le Cabinet des Livres Manuscrits vol. 2 (Paris 1900).
        </li>
        <li>
            <i>Chartres, Bibliothèque municipale de Chartres</i><br>
            H. Ormont, A. Molinier, C. Couderc and E. Coyecque, Catalogue général des manuscrits des bibliothèques
            publiques de France vol. XI: Manuscrits de la Bibliothèque de Chartres (Paris 1890).
        </li>
        <li>
            <i>Lyon, Bibliothèque municipale – Palais des Arts</i><br>
            Catalogue des manuscrits des bibliothèques publiques de France – Départements vol. 31 (Paris 1898).
        </li>
        <li>
            <i>Montpellier, Bibliothèque Universitaire Historique de Médicine</i><br>
            Catalogue générale des bibliothèques publiques des départements, vol. 1 (Paris 1849).
        </li>
        <li>
            <i>Paris, Bibliothèque de l’Arsenal</i><br>
            Henry Martin, Catalogue es manuscrits de la Bibliothèque de l'Arsenal I-VIII (Paris 1885-1899).
        </li>
        <li>
            Digital catalogue: https://archivesetmanuscrits.bnf.fr/
        </li>
        <li>
            <i>Paris, Bibliothèque Mazarine</i><br>
            A. Molinier, Catalogue des Manuscrits de la Bibliothèque Mazarine 1-4 (Paris 1885-1892).
        </li>
        <li>
            <i>Paris, Bibliothèque Nationale de France</i><br>
            Bibliothèque impériale. Département des manuscrits. Catalogue des manuscrits français I-V (Paris 1868-1902);
        </li>
        <li>
            H. Omont and C. Couderc, Catelogue Général des Manuscrits Francais: Ancien Supplément Francais I-III (Paris
            1896-1900);
        </li>
        <li>
            H. Omont, Catalogue général des manuscrits français, Ancien Saint-Germaine Francais, 1-3 (Paris 1898-1900);
        </li>
        <li>
            H. Omont, Catalogue général des manuscrits français. Anciens petits fonds français, 1-3 (Paris 1898-1902);
        </li>
        <li>
            Henri Omont, Catalogue Général des Manuscrits Français: Nouvelles Acquisitions Françaises I-IV (Paris
            1899-1918);
        </li>
        <li>
            Bibliothèque nationale. Catalogue général des manuscrits latins I-VII (Paris 1939-1988);
        </li>
        <li>
            Charles Samaran and Robert Marichal, Catalogue des manuscripts en écriture latine vol.3: Bibliothèque
            Nationale, fonds latin Nos.8001 à 18613 (Paris 1974).
        </li>
        <li>
            Digital catalogue: https://archivesetmanuscrits.bnf.fr/
        </li>
        <li>
            <i>Paris, Bibliothèque Sainte-Geneviève</i><br>
            Charles Kohler, Catalogue des manuscrits de la Bibliothèque Sainte-Geneviève vol. 2 (Paris 1896).
        </li>
        <li>
            <i>Rennes, Bibliothèque Municipale</i><br>
            Catalogue général des manuscrits des bibliothèques publiques de France - Départements, vol. 24 (Paris 1894).
        </li>
        <li>
            Digital catalogue: http://www.tablettes-rennaises.fr
        </li>
        <li>
            <i>Tours, Bibliothèque Municipale</i><br>
            Gaston Collon, Catalogue général des bibliothèques publiques de France, vol.37.2 (Paris 1905).
        </li>
        <li>
            <i>Verdun, Bibliothèque Municipale</i><br>
            Catalogue général des manuscrits des bibliothèques publiques des départements vol. 5 (Paris 1849).
        </li>
    </ol>

    <h4>Germany</h4>
    <ol>
        <li>
            <i>Ansbach, Staatliche Bibliothek</i><br>
            Karl Heinz Keller, Katalog der Lateinischen Handschriften der Staatlichen Bibliothek (Schlossbibliothek)
            Ansbach vol.1: ms. Lat. 1 - ms. Lat. 93 (Wiesbaden 1994).
        </li>
        <li>
            <i>Augsburg, Staats- und Stadtsbibliothek</i><br>
            Herrad Spiling, Die Handschriften der Staats- und Stadtbibliothek Augsburg 2°Cod 101-250 (Augsburg 1984).
        </li>
        <li>
            <i>Berlin, Staatsbibliothek Preussischer Kulturbesitz</i><br>
            V. Rose, Verzeichnis der Lateinischen Handschriften der kgl. Bibliothek zu Berlin, bd.2,3 (Berlin 1905);
        </li>
        <li>
            Hermann Degering, Kurzes Verzeichnis der germanischen Handschriften der Preussischen Staatsbibliothek I: Die
            handschriften in Folioformat (Leipzig 1925);
        </li>
        <li>
            Beate Braun-Niehr, Die Theologischen Lateinischen Handschriften in Octavo der Staatsbibliothek zu Berlin
            Preussischer Kulturbesitz, vol. 1 (Wiesbaden 2007).
        </li>
        <li>
            Digital catalogue:
            https://staatsbibliothek-berlin.de/die-staatsbibliothek/abteilungen/handschriften/abendlaendische-handschriften/signaturenuebersicht/
        </li>
        <li>
            <i>Bonn, Universitäts- und Landesbibliothek</i><br>
            Jürgen Greiβ, Katalog der mittelalterlichen Handschriften der Universitäts- und Landesbibliothek Bonn
            (Berlin 2015).
        </li>
        <li>
            <i>Dresden, Sächsische Landesbibliothek- Staats- und Universitätsbibliothek Dresden</i><br>
            Franz Schnorr V. Carolsfeld, Katalog der Handschriften der Sächsischen Landesbibliothek zu Dresden bd. 2
            (Leipzig 1883).
        </li>
        <li>
            <i>Düsseldorf, Universitäts- und Landesbibliothek Düsseldorf</i><br>
            Agata Mazurek und Joachim Ott. Hrsg. von Irmgard Siebert und Gabriele Dreis, Die mittelalterlichen
            Handschriften der Signaturengruppe B in der Universitäts- und Landesbibliothek Düsseldorf. Teil 2. Ms. B
            101a bis B 214 (Harrassowitz 2011).
        </li>
        <li>
            Digital catalogue: http://digital.ub.uni-duesseldorf.de/nav/classification/507874
        </li>
        <li>
            <i>Erfurt, Universitäts- und Forschungsbibliothek Erfurt/Gotha</i><br>
            Wilhelm Schum, Bescheibendes Verzeichnis der Amplonianischen Handschriften-Sammlung zu Erfurt (Berlin 1887).
        </li>
        <li>
            <i>Frankfurt, Stadt- und Universitätsbibliothek</i><br>
            Gerhardt Powitz, Kataloge der Stadt- und Universitätsbibliothek Frankfurt am Main: Die Handschriften des
            Dominikanerklosters und des Leonhardstifts in Frankfurt am Main (Frankfurt 1968).
        </li>
        <li>
            <i>Fulda, Hessische Landesbibliothek</i><br>
            Regina Hausmann, Die Historischen, Philologischen und Juristischen Handschriften der Hessischen
            Landesbibliothek Fulda bis zum Jarh 1600. B 1-25, C 1-18.68, D1-48 (Wiesbaden 2000).
        </li>
        <li>
            Digital catalogue: https://fuldig.hs-fulda.de/viewer/handschriften/
        </li>
        <li>

            <i>Leipzig, Universitätsbibliothek Leipzig</i><br>
            Franzjosef Pensel and Irene Stahl, Verzeignis der Deutschen mittelalterlichen Handschriften in der
            Universitätsbibliotek Leipzig (Berlin 1998).
        </li>
        <li>
            Digital catalogue:
            https://www.ub.uni-leipzig.de/forschungsbibliothek/digitale-sammlungen/mittelalterliche-handschriften/handschriften-der-ms-signaturenreihe/
        </li>
        <li>
            <i>Mainz, Wissenschaftliche Stadtbibliothek Mainz</i> <br>
            Gerhard List, Die Handschriften der Stadtbibliothek Mainz vol. 2 (Wiesbaden 1998).
        </li>
        <li>
            <i>Munich, Bayerische Staatsbibliothek</i><br>
            Karl Halm, Georg von Laubmann, Wilhelm Meyer, Catalogus codicum latinorum Bibliothecae Regiae Monacensis bd.
            1.1-2.4 (München/Wiesbaden 1892-1969);
        </li>
        <li>
            Hermann Hauke, Katalog der lateinischen Handschriften der Bayerischen Staatsbibliothek München: Clm
            27270-27499 (Wiesbaden 1975);
        </li>
        <li>
            Elisabeth Klemm, Die romanischen Handschriften der Bayerischen Staatsbibliothek, bd. 1-2 (Wiesbaden
            1980-1988);
        </li>
        <li>
            Elisabeth Klemm, Die illuminierten Handschriften des 13. Jahrhunderts deutscher Herkunft in der Bayerischen
            Staatsbibliothek (Wiesbaden 1998).
        </li>
        <li>
            Digital catalogue: https://www.bsb-muenchen.de/sammlungen/altertum/recherche/
        </li>
        <li>
            <i>München, Universitätsbibliothek</i><br>
            Natalia Daniel, Gerhard Schott, Peter Zahn, Die lateinischen mittelalterlichen Handschriften der
            Universitätsbibliothek München: Die Handschriften aus der Folioreihe, Hälfte 2 (Wiesbaden 1979).
        </li>
        <li>
            <i>Stuttgart, Württembergische Landesbibliothek</i><br>
            Wilhelm Heyd, Die historischen Handschriften der Königlich Öffentlichen Bibliothek zu Stuttgart, Bd. 1-2
            (Stuttgart 1889-1891);
        </li>
        <li>
            Johanne Autenrieth and Virgil Ernst Fiala, Die Handschriften der ehemaligen Hofbibliothek Stuttgart: Bd.
            1,1. Codices ascetici (HB I 1-150) (Wiesbaden 1968);
        </li>
        <li>
            Magda Fischer, Der Württembergischen Landesbibliothek Stuttgart: Bd. 1,5 (Wiesbaden 1875);
        </li>
        <li>
            Wolfgang Irtenkauf and Ingeborg Krekler, Codices poetici et philologici - Die Handschriften der
            Württembergischen Landesbibliothek Stuttgart; R. 1, Bd. 2 (Wiesbaden 1981).
        </li>
        <li>
            <i>Trier, Stadtbibliothek und Stadtarchiv Trier</i><br>
            Max Keuffer, Beschreibendes Verzeichnis der Handschriften der Stadtbibliothek zu Trier, vol.3 (Trier 1894);
        </li>
        <li>
            Kurt Heydeck and Giuliano Staccioli, Die lateinischen Handschriften aus dem Augustiner-Chorherrenstift
            Eberhardsklausen in der Stadtbibliothek Trier, vol. 1 (Wiesbaden 2007).
        </li>
        <li>
            <i>Tübingen, Universitätsbibliothek</i><br>
            Gerd Brinkhus and Arno Mentzel-Reuters, Die lateinischen Handschriften der Universitätsbibliothek Tübingen,
            vol.2 (Wiesbaden 2001).
        </li>
        <li>
            <i>Weimar, Herzogin Anna Amalia Bibliothek</i> <br>
            Betty C. Bushey, Bibliographien und Kataloge der Herzogin Anna Amalia Bibliothek zu Weimar: Die lateinischen
            Handschriften bis 1600, vol.1: Fol max, Fol und Oct, beschrieben von Betty C. Bushey unter Mitw. von Hartmut
            Broszinski (Wiesbaden 2004).
        </li>
        <li>
            <i>Wiesbaden, Hochschul- und Landesbibliothek</i><br>
            Gottfried Zedler, Die Handschriften der Nassauischen Landesbibliothek zu Wiesbaden (Leipzig 1931).
        </li>
        <li>
            <i>Wolfenbüttel, Herzog August Bibliothek</i><br>
            Otto von Heinemann, Die Helmstedter Handschriften vol.1: Cod. Guelf. 1 bis 500 Hemlst. (Frankfurt 1884);
        </li>
        <li>
            Bertram Lesser, Die mittelalterlichen Helmstedter Hanschriften der Harzog August Bibliothek, vols. 1-3
            (2012-forthcomming).
        </li>
        <li>
            Digital catalogue: http://diglib.hab.de/?db=mss
        </li>
        <li>
            <i>Würzburg, Universitätsbibliothek</i><br>
            Hans Thurn, Die Handschriften der Universitätsbibliothek Würzburg, Bd. 1-2 (Wiesbaden 1970-1973).
        </li>
    </ol>

    <h4>Iceland</h4>
    <ol>
        <li>
            <i>Reykjavik, Árni Magnússon Institute</i><br>
            J. Jörgensen and M.A. Hannover, Katalog over den Arnamagnaeanske Håndskriftsamling vols. 1-2 (Copenhagen
            1889-1894);
        </li>
        <li>
            J. Jörgensen and M.A. Hannover, De Oldnorske-Islandske Handskrifter det store Kongelige Bibliothek vol.1
            (Copenhagen 1900).
        </li>
        <li>
        </li>
    </ol>

    <h4>Italy</h4>
    <ol>
        <li>
            <i>Fabriano, Biblioteca Multimediale</i> <br>
            G. Mazzatinti, Inventari dei manoscritti delle biblioteche d'Italia, Vol. I (Forli 1890).
        </li>
        <li>
            <i>Florence, Biblioteca Medicea Laurenziana</i><br>
            I codici ashburnhamiani delle R. Biblioteca mediceo-laurenziana di Firenze (Rome 1887).
        </li>
        <li>
            <i>Florence, Biblioteca nazionale centrale di Firenze</i><br>
            Luigi Gentile, I codici palatini della R. Biblioteca nazionale centrale di Firenze vol.II.2 (Rome 1885).
        </li>
        <li>
            <i>Genoa, Biblioteca Universitaria</i><br>
            Antonio Tamburini, Inventario dei manoscritti della Biblioteca Universitaria di Genova vol. 1 (Genoa 1958).
        </li>
        <li>
            <i>Milan, Biblioteca Ambrosiana</i><br>
            Paolo Revelli, I codici Ambrosiani di Contenuto Geografico con XX Tavole Fuori Testo (Milan 1929).
        </li>
        <li>
            <i>Modena, Biblioteca Estense</i><br>
            Biblioteca Estense Universitaria, Bibliothecae Atestiae MSS pars IV: Codices Italici vol. I (Modena).
        </li>
        <li>
            <i>Palermo, Biblioteca centrale della Regione siciliana</i><br>
            Guiseppe Salvo Cozzo di Pietraganzili and Eduardo Rivarola di Roccella, Inventario topografico della R.
            Bibliotheca Nazionale di Palermo vol.1 (Palermo 1901-1920);
        </li>
        <li>
            Silvana Barreca, I manoscritti scientifici della Biblioteca centrale della Regione siciliana (Palermo 1985).
        </li>
        <li>
            <i>Rome, Biblioteca Apostolica Vaticana</i><br>
            Andreas Wilmart, Codices Reginenses Latini tomus I-II (Vatican City 1937-1945).
        </li>
        <li>
            Online catalogue: https://opac.vatlib.it/mss
        </li>
        <li>
            <i>Sutri, Archivio Comunale</i><br>
            Luisa Miglio et Paola Supino Martini, Frammenti : storie di codici e notai nell’Archivio Comunale di Sutri
            (Manziana 1997).
        </li>
        <li>
            <i>Turin, Biblioteca Nazionale Universitaria</i><br>
            Albano Sorbelli, Inventari dei manoscritti delle biblioteche d’Italia - Torino vol. 28 (Firenze 1922).
        </li>
        <li>
            <i>Veroli, Biblioteca Giovardiana</i><br>
            Virginia Brown, Catalogo dei più antichi manoscritti della Biblioteca Giovardiana di Veroli (Rome 1996).
        </li>

    </ol>
    <h4>Netherlands</h4>
    <ol>
        <li>
            <i>Amsterdam, Bibliotheca Philosophica Hermetica</i><br>
            H. P. Kraus, Bibliotheca Phillippica: The Final Selection (New York 1979).
        </li>
        <li>
            <i>Leiden, Universiteitsbibliotheek</i><br>
            Karel Adriaan de Meyier, Codices Vossiani Latini vol. 2 (Leiden 1973-1984).
        </li>
        <li>
            Digital catalogue :
            http://catalogue.leidenuniv.nl/primo_library/libweb/action/search.do?mode=Advanced&ct=AdvancedSearch&vid=UBL_V1&tab=special&dscnt=0&dstmp=1475611843568
        </li>
    </ol>

    <h4>Poland</h4>

    <ol>
        <li>
            <i>Gdansk, Marienbibliothek</i><br>
            Otto Günther, Die handschriften der Kirchenbibliothek von St. Marien in Danzig vol. 5 (Danzig 1921).

        </li>
    </ol>

    <h4>Portugal</h4>

    <ol>
        <li>
            <i>Lisbon, Biblioteca de Ajuda</i><br>
            Carlos Alberto Ferreira, 'Iluminuras, aguarelas, ornatos e desenhos à pena dos manuscritos da Biblioteca da
            Ajuda', Boletim Bibliográfico da Biblioteca da Universidade de Coimbra 18 (1948) 295-352.
        </li>
        <li>
            K.O. Kristeller, Iter Italicum IV: Great Britain to Spain (London 1989).
        </li>
        <li>
            <i>Porto, Biblioteca Publica Municipal</i><br>
            José Francisco Merinhos and Aires Augusto Nascimento, Còdices da livraria de Mäo do mosteiro de Santa Cruz
            de Coimbra na Biblioteca Pùblica municipal do Porto (Porto 1997).
        </li>
    </ol>
    <h4>Russia</h4>
    <ol>
        <li>
            <i>Moscow, Russian State Library</i><br>
            'Гинцбург Давид Горациевич: собрание, XVI-XIX вв, no. 1-830' (1857-1910).
        </li>
        <li>
            <i>St. Petersburg, Biblioteka Ermitajia</i><br>
            Alexandre de Laborde, Les principaux manuscrits à peinture conservés dans l’ancienne bibliothèque publique
            de
            Saint-Pétersbourg (Paris 1936-1938);
        </li>
        <li>
            Jean Edouard Gustave Bertrand, Catalogue des manuscrits francais de la Bbliothèque de Saint-Pétersbourg
            (Paris
            1874).
        </li>
    </ol>

    <h4>Spain</h4>

    <ol>
        <li>
            <i>Madrid, Biblioteca Francisco de Zabálburu y Basabe</i><br>
            Jesús Pensado Figueiras (ed.), El códice Zanálburu de medicina medieval: edición critica y estudio de
            fuentes (Coruña 2012).
        </li>
        <li>
            <i>Madrid, Bibliotexa Nacional de España</i><br>
            Inventatio general de Manuscritos de la Biblioteca Nacional vols.XIII-XIV (Madrid 1995).

        </li>
    </ol>

    <h4>Sweden</h4>
    <ol>
        <li>
            <i>Stockholm, Kungliga biblioteket</i><br>
            George Stephens, Förteckning öfver de förnamsta Brittiska och Fransyska kandskrifterna uti Kongl.
            bibliotheket i Stockholm (Stockholm 1847).
        </li>
        <li>
            <i>Uppsala, Universiteitsbiblioteket</i><br>
            T. Kleberg, Medeltida Uppsala Bibliothek. I. Biskop Siward av Uppsala och hand bibliothek (Uppsala 1968);
        </li>
        <li>
            Margarete Andersson-Schmitt, Hakan Halberg, Monica Hedlund, Mittelalterliche Handschriften der
            Universitätsbibliothek Uppsala : Katalog über die C-Sammlung: Bd 6, Handschriften C 551-935 (Uppsala 1993).
        </li>
    </ol>

    <h4>Switserland</h4>
    <ol>
        <li>
            <i>Basel, Universitätsbibliothek</i><br>
            Gustav Meyer and Max Burchardt, Die mittelalterlichen Handschriften der Universitätsbibliothek Basel.
            Beschreibendes Verzeichnis. Abteiling B: Theologische Pergamenthandschriften vols.1-2 (1960-1966).
        </li>
        <li>
            Digital catalogue:
            http://aleph.unibas.ch/F/?func=option-update-lng&file_name=find-b&p_con_lng=GER&local_base=dsv05
        </li>
        <li>
            <i>Bern, Burgerbibliothek</i><br>
            Hermann Hagen, Schätze der Burgerbibliothek Bern (Bern 1875);
        </li>
        <li>
            Hermann Hagen, Catalogus codicum bernensium (Bern 1875).
        </li>
        <li>
            <i>Einsiedeln, Stiftsbibliothek</i><br>
            P. Gabriel Meier, Catalogus codicum manu scriptorum qui in bibliotheca monasterii Einsidlensis O.S.B.
            servantur. Bd. 1 (Einsiedeln 1899).
        </li>
        <li>
            <i>Fribourg, Bibliothèque Cantonale et Universitaire</i><br>
            Lohr Carolus, Aristotelica Helvetica, Scrinium Friburgense (Freiburg 1994).
        </li>
        <li>
            <i>Zürich, Zentralbibliothek</i><br>
            Leo Cunibert Mohlberg, Mittelalterliche Handschriften (Katalog der Handschriften der Zentralbibliothek
            Zürich I) (Zürich 1932-1952).
        </li>
    </ol>

    <h4>United Kingdom</h4>

    <ol>
        <li>
            <i>Aberystwyth: National Library of Wales</i><br>
            Daniel Huws, Medieval Welsh Manuscripts (Cardiff 2000).
        </li>
        <li>
            <i>Cambridge: University Library</i><br>
            A Catalogue of the Manuscripts Preserved in the Library of the University of Cambridge, vol. I-III
            (Cambridge 1856-1958);
        </li>
        <li>
            Jayne Ringrose, Summary Catalogue of the Additional Medieval Manuscripts in Cambridge University Library
            acquired before 1940 (Woodbridge 2009).
        </li>
        <li>
            <i>Cambridge: Corpus Christi College</i><br>
            M.R. James, A Descriptive Catalogue of the Manuscripts in the Library of Corpus Christi College, Cambridge
            1-2 (Cambridge 1911-1912);
        </li>
        <li>
            Peter D. Clarke and Roger Lovatt, The University and College Libraries of Cambridge (London 2002).
        </li>
        <li>
            <i>Cambridge: Gonville and Caius College Library</i><br>
            M.R. James, A Descriptive Catalogue of the Manuscripts in the Library of Gonville and Caius College vol. 2
            (Cambridge 1907-1914).
        </li>
        <li>
            <i>Cambridge: Peterhouse, Perne Library</i><br>
            M. R. James, A descriptive catalogue of the manuscripts of Peterhouse (Cambridge 1899);
        </li>
        <li>
            Peter D. Clarke and Roger Lovatt, The University and College Libraries of Cambridge (London 2002);
        </li>
        <li>
            R.M. Thompson, A Descriptive Catalogue of the Medieval Manuscripts in the Library of Peterhouse, Cambridge
            (Cambridge 2016).
        </li>
        <li>
            <i>Glasgow: University of Glasgow</i><br>
            John Young and P.H. Aitken, A catalogue of the manuscripts in the Library of the Hunterian Museum in the
            University of Glasgow (Glasgow, 1908).
        </li>
        <li>
            Digital catalogue: http://special.lib.gla.ac.uk/manuscripts/search/search.cfm
        </li>
        <li>
            <i>London: British Library</i><br>
            Joseph Planta, A Catalogue of the Manuscripts in the Cottonian Library Deposited in the British Museum
            (London 1802);
        </li>
        <li>
            A Catalogue of the Harleian Manuscripts in the British Museum, 1-4 (London: The British Museum, 1808-1812);
        </li>
        <li>
            Catalogue of Additions to the British Museum, 1-6 (London: British Museum, 1831-1835);
        </li>
        <li>
            Catalogue of the Manuscripts of the British Museum. New Series. I. The Arundel Manuscripts (London 1834);
        </li>
        <li>
            E. J. L. Scott, Index to the Sloane manuscripts in the British Museum (London 1904);
        </li>
        <li>
            George F. Warner and Julius P. Gilson, Catalogue of Western Manuscripts in the Old Royal and King’s
            Collections 1-2 (London 1921);
        </li>
        <li>
            Andrew G. Watson, Catalogue of Dated and Datable Manuscripts c. 700-1600 in the Department of Manuscripts,
            The British Library, vol.1 (1979);
        </li>
        <li>
            Bibliotheca Hagiographica Antiquae et Mediae Aetatis: Novum Supplement: Subsidia Hagiographica, 70
            (Brussels, 1986).
        </li>
        <li>
            Digital catalogue:
            http://searcharchives.bl.uk/primo_library/libweb/action/search.do?menuitem=0&fromTop=true&fromPreferences=false&fromEshelf=false&vid=IAMS_VU2
        </li>
        <li>
            London: Lambeth Palace Library<br>
            James Montague Rhodes and Claude Jenkins, A Descriptive Catalogue of the Manuscripts in the Library of
            Lambeth Palace vol.2 (Cambridge 2011).
        </li>
        <li>
            Oxford: All Souls College<br>
            H. O. Coxe, Catalogue of Manuscripts in the Library of All Souls College (Oxford 1842);
        </li>
        <li>
            Andrew G. Watson, A descriptive catalogue of the medieval manuscripts of All Souls College, Oxford (Oxford
            1997).
        </li>
        <li>
            Oxford: Bodleian Library<br>
            Falconer Madan, A Summary Catalogue of Western Manuscripts in the Bodleian Library at Oxford 1-4 (Oxford
            1894-1895);
        </li>
        <li>
            W. D. Macray, Catalogi codicum manuscriptorum Bibliothecæ Bodleianæ...viri munificentissimi Ricardi
            Rawlinson, J.C.D., codicum...complectens, Quarto Catalogues V (Oxford 1862-1900);
        </li>
        <li>
            H. O. Coxe, Laudian Manuscripts, Quarto Catalogues II (Oxford 1969) ;
        </li>
        <li>
            W. D. Macray, Bodleian Library Quarto Catalogues IX: Digby Manuscripts (1999).
        </li>
        <li>
            Digital catalogue: https://medieval.bodleian.ox.ac.uk/
        </li>
        <li>
            <i>Oxford: Corpus Christi College</i><br>
            Henricus O. Coxe, Catalogus codicum mss. qui in collegiis aulisque Oxoniensibus hodie asservantur pars 2
            (Oxford 1852);
        </li>
        <li>
            R. M. Thompson, A Descriptive Catalogue of the Medieval Manuscripts of Corpus Christi College, Oxford
            (Oxford 2011).
        </li>
        <li>
            <i>Oxford: Exeter College</i><br>
            Andrew G. Watson, A descriptive catalogue of the Medieval Mansucripts of Exeter College Oxford (Oxford
            2000).
        </li>
        <li>
            <i>Oxford: Trinity College</i><br>
            Henricus O. Coxe, Catalogus codicum mss. qui in collegiis aulisque Oxoniensibus hodie asservantur pars 2
            (Oxford 1852).
        </li>
        <li>
            Richard Gameson, The medieval manuscripts of Trinity College, Oxford : a descriptive catalogue (Oxford
            2018).
        </li>
        <li>
            <i>Oxford: University College</i><br>
            Heny Octavius Coxe, Catalogus codicum mss. qui in collegiis aulisque Oxoniensibus hodie adservantur pars 1
            (Oxford 1852).
        </li>
        <li>
            <i>British Medieval Library Catalogues</i><br>
            M.R. James, The Ancient Libraries of Canterbury and Dover: the catalogues of the libraries of Christ Church
            Priory an St. Augustine's abbey at Canterbury and of St. Martin's Priory at Dover (Cambridge 1903);
        </li>
        <li>
            M.R. James, Lists of Manuscripts formerly in Peterborough Abbey Library (Cambridge 1921);
        </li>
        <li>
            K.W. Humphreys, The Friars' Libraries, Corpus of British Medieval Library Catalogues 1 (London 1991).
        </li>
        <li>
            David N. Bell, The Libraries of the Cistercians, Gilbertines, and Premonstratensians, Corpus of British
            Medieval Library Catalogues 3 (London 1992)
        </li>
        <li>
            T. Webber and A.G. Watson, The Libraries of the Augustinian Canons (London 1998).
        </li>
        <li>
            Karsten Friis-Jenssen and James M.W. Willoughby, Peterborough Abbey (London 2001).
        </li>
        <li>
            B.C. Barker-Benfield, St. Augustine's Abbey, Canterbury vol.2 (London 2008).
        </li>

    </ol>

    <h4>United States</h4>

    <ol>
        <li>
            <i>Baltimore, The Walters Art Museum</i><br>
            Lilian M.C. Randall, Medieval and Renaissance Manuscripts in the Walters Art Gallery. Vol. 3.2 (Baltimore
            1997).
        </li>
        <li>
            Digital catalogue: https://manuscripts.thewalters.org/?page=saved
        </li>
        <li>
            New Haven, Yale University, Beinecke rare book and manuscript library
            Digital catalogue: https://orbis.library.yale.edu/vwebv/
        </li>
        <li>
            <i>New York, Pierpont Morgan Library</i><br>
            M.R. James, Catalogue of Manuscripts and Early Printed Books from the libraries of William Morris, Richard
            Bennet, Bertram, Fourth Earl of Ashburnham and other sources, now forming a portion of the library of J.
            Pierpont Morgan (London 1906).
        </li>
        <li>
            Digital catalogue: http://corsair.themorgan.org/cgi-bin/Pwebrecon.cgi?DB=local&PAGE=kbSearch
        </li>
        <li>
            <i>Philadelphia, Library Company of Philadelphia</i><br>
            Digital catalogue: https://digital.librarycompany.org/discovery
        </li>
        <li>
            Philadelphia, Rare Book and Manuscript Library University of Pennsylvania
            Digital catalogue: http://dla.library.upenn.edu/dla/medren/index.html
        </li>
        <li>
            <i>San Marino, Huntington Library</i><br>
            Consuelo W. Dutschke, Guide to the Medieval and Renaissance Manuscripts in the Huntington Library (San
            Marino 1989).
        </li>
    </ol>

    <br>

    <h3>Databases </h3>
    <ol>
        <li>
            ARLIMA: Archives de littérature de moyen âge - <a href="https://www.arlima.net/index.html"
                target="_blank">https://www.arlima.net/index.html</a>
        </li>
        <li>
            BVMM: Bibliothèque virtuelle des manuscrits médiévaux - <a href="https://bvmm.irht.cnrs.fr/"
                target="_blank">https://bvmm.irht.cnrs.fr/</a>
        </li>
        <li>
            Calames : Online catalogue of archives and manuscripts in French University and Research libraries - <a
                href="http://www.calames.abes.fr/pub/" target="_blank">http://www.calames.abes.fr/pub/</a>

        </li>
        <li>
            Catálogo Hipertextual de Traducciones Anónimas: al Castellano de los siglos XIV al XVI, en bibliotecas de
            España,
            Italia y Portugal - <a href="http://www.catalogomedieval.com/busqueda.php?id=164"
                target="_blank">http://www.catalogomedieval.com/busqueda.php?id=164</a>
        </li>
        <li>
            Digital Scriptorium - <a href="http://www.digital-scriptorium.org/"
                target="_blank">http://www.digital-scriptorium.org/</a>
        </li>
        <li>
            E-codices – <a href="https://www.e-codices.unifr.ch/en"
                target="_blank">https://www.e-codices.unifr.ch/en</a>
        </li>
        <li>
            FAMA: Oeuvres latines médiévales á success - <a href="http://fama.irht.cnrs.fr/en/"
                target="_blank">http://fama.irht.cnrs.fr/en/</a>
        </li>
        <li>
            Manus OnLine - <a href="https://manus.iccu.sbn.it/index.php"
                target="_blank">https://manus.iccu.sbn.it/index.php</a>
        </li>
        <li>
            Manuscripta Medievalia - <a href="http://www.manuscripta-mediaevalia.de"
                target="_blank">http://www.manuscripta-mediaevalia.de</a>
        </li>
        <li>
            Manuscripta: Mittelalterliche Handschriftn in Österreich - <a href="http://manuscripta.at/"
                target="_blank">http://manuscripta.at/</a>
        </li>
        <li>
            Medieval Manuscripts in Dutch Collections - <a href="http://www.mmdc.nl/static/site/"
                target="_blank">http://www.mmdc.nl/static/site/</a>
        </li>
        <li>
            MIRABILE: Digital Archives for Medieval Culture - <a href="http://www.mirabileweb.it/"
                target="_blank">http://www.mirabileweb.it/</a>
        </li>
        <li>
            PhiloBiblon - <a href="http://bancroft.berkeley.edu/philobiblon/search_en.html"
                target="_blank">http://bancroft.berkeley.edu/philobiblon/search_en.html</a>
        </li>

    </ol>
    <br>
    <h3>Editions</h3>

    <h4>Delw y Byd</h4>
    <ol>
        <li>
            Henry Lewis and P. Diverres, Delw y Byd (Cardiff 1928).
        </li>
    </ol>

    <h4>Divisiones Mundi</h4>
    <ol>
        <li>O.H. Prior, 'Divisiones Mundi', in: O.H. Prior (ed.), Cambridge Anglo-Norman Texts (Cambridge 1924) 34-63.
        </li>
    </ol>


    <h4>Imago Mundi</h4>
    <ol>
        <li>
            J.P. Migne, Honorii Augustodunensis Opera omnia ex codicibus mss. et editis nunc primum in unum collecta.
            Patrologiae cursus completus. Ser. Latina 172 (Paris 1895).
        </li>
        <li>
            Valerie I. J. Flint, ‘Honorius Augustodunensis. 'Imago mundi'’, Archives d'histoire doctrinale et littéraire
            du moyen âge 57 (1982) 7-153.
        </li>
    </ol>

    <h4>L’Image du Monde</h4>

    <ol>
        <li>
            H.O. Prior, L'Image du Monde de Maitre Gossouin: Redaction en prose. Texte du Manuscrit de la Bibliothèque
            Nationale Fonds Francais N˚ 574. Avec corrections d'après d'autres manuscrits (Lausanne 1913).
        </li>
        <li>
            Connochie-Bourgne, Chantal, ‘L’Image du monde, une encyclopédie du XIIIe siècle. Edition critique et
            commentaire de la première version’ (unpubl. PhD dissertation, Univ. of Paris, Sorbonne, Paris IV, 1999)
        </li>
    </ol>

    <h4>Mappemonde</h4>
    <ol>
        <li>Annie Angremy, 'La Mappemonde de Pierre de Beauvais', Romania 104 (1983) 316-350, 457-498.</li>
    </ol>

    <h4>Semeianca del mundo</h4>
    <ol>
        <li>
            William E. Bull and Harry F. Williams (ed.), Semeiança del mundo: a medieval description of the world
            (Berkeley 1959).
        </li>
        <li>
            Enrique Jiménez Ríos, Texto concordancias de Bibliotheca Nacional de Madrid MS. 3369, Semeianca del mundo
            (Madison 1992).
        </li>
    </ol>

    <h4>Ymagine del Mondo</h4>
    <ol>
        <li>Francesco Chiovaro (ed.), L'Ymagine del mondo (Firenze, Bibl. naz., cod. palat. 703) (Napels 1977).</li>
    </ol>
    <br>

    <h3>Secondary literature</h3>

    <h4> Delw y Byd:</h4>
    <ol>
        <li>
            Alexander Falileyev, 'Delw y Byd Revisited', Studia celtica 54 (2010) 71-78;
        </li>
        <li>
            Natalia Petrovskaia, 'Delw y Byd: une traduction médiévale en gallois d'une encyclopédie latine et la
            création
            d'un traité géographique', Études Celtiques 39 (2013) 257-277;
        </li>
        <li>
            Natalia Petrovskaia, Medieval Welsh Perceptions of the Orient (Turnhout 2015).</li>
    </ol>

    <h4>Imago Mundi:</h4>
    <ol>
        <li>
            Joseph Anton Endres, Honorius Augustodunensis. Beitrag zur Geschichte des geistigen Lebens im 12.
            Jahrhundert
            (Kempten 1906) 4, 5, 46.
        </li>
        <li>
            Valerie I. J. Flint, Honorius Augustodunensis of Regensburg, in: Authors of the Middle Ages. Historical and
            Religious Writers of the Latin West 2, 5-6. (Aldershot 1995) 95-183.
        </li>
        <li>
            Valerie I. J. Flint, ‘The Place and Purpose of the Works of Honorius Augustodunensis’, Revue Bénédictine 87
            (1977) 97-127.</li>
    </ol>


    <h4>L’Image du Monde:</h4>
    <ol>
        <li>Sarah Centili, 'La tradition manuscrite de l’Image du monde: Fortune et diffusion d’une encyclopédie du
            xiiie siècle' (unpublished thesis, Paris: École des chartes, 2005).</li>
    </ol>

    <h4>Mappemonde</h4>
    <ol>
        <li>
            Paul Meyer, 'Notices sur deux anciens manuscrits ayant appartenu au Marquis de La Clayette (Bibliothèque
            nationale, Moreau 1715–1719)', Notices et extraits des manuscrits de la Bibliothèque nationale et autres
            bibliothèques 33 (1890) 1-90;
        </li>
        <li>
            George L.. Hamilton, 'Encore un plagiat médiéval: la Mappemonde de Pierre de Beauvais et les Divisiones
            mundi de Perot de Garbelai', Mélanges de linguistique et de littérature offerts à M. Alfred Jeanroy par ses
            élèves et ses amis (Paris 1928) 627-638.
        </li>
    </ol>


    <h4>La Petite Philosophie:</h4>
    <ol>
        <li>William Hilliard Trethewey, La petite philosophie an Anglo-Norman poem of the thirteenth century (New York
            1939).
        </li>

    </ol>

    <h4>Semeiança del Mundo </h4>

    <ol>
        <li>
            R. Kinkade, 'Un Nuevo Manuscrito de la Semeianca del mundo', Hispanic Review 39 (1971) 261-270.
        </li>
    </ol>

    <h4>Ymago Mundi</h4>

    <ol>
        <li>Rudolf Simek, Altnordische Kosmographie : Studien und Quellen zu Weltbild und Weltbeschreibung in Norwegen
            und Island vom 12. bis zum 14. Jahrhundert (Berlin 2012) 396-402.</li>
    </ol>

    <h4>םלועה תומלצ</h4>
    <ol>
        <li>Ad Neubauer, 'Traductions Hébraïques de l'Image du Monde', Romania 5 (1900) 129-139.</li>
    </ol>


</section>