<section class="hero is-light is-bold">
    <header class="hero-head">
        <nav class="navbar">
            <div class="container">
                <figure class="navbar-brand">
                    <div class="navbar-item">
                        <h1 class="is-size-4 has-text-weight-bold">Images of the World</h1>
                    </div>
                </figure>
                <menu class="navbar-menu">
                    <div class="navbar-start">


                    </div>
                </menu>
            </div>
        </nav>
    </header>