<!-- Content ... -->

<p>
    Type a search word. You can specify your search by typing more words seperated by a whitespace
    or a comma like: 'London, Harley'. You can also do a search using the filters only. Just select
    a filter and click the search button with an empty search field<br><br>
</p>
<p>
    Filter your results with the selectboxes on: language of the manuscript, country of origin, the
    current country of residence, or the dates of origin. To reset all filters, click 'Reset
    Filters'<br><br>
</p>
<p>
    Click the info 'i' in front of every result to open the details screen.
    This will show tabs with general information about the manuscript, detail information, a
    map with the historical
    locations and a link to pictures of the manuscript, if available<br><br>
</p>
<p>
    Click the markers on the map for more information about the particular manuscript.
</p>