{% extends "admin/index.html" %}
{% load i18n %}

{% block bodyclass %}{{ block.super }} app-{{ app_label }}{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo;
    {% for app in app_list %}
    {{ app.name }}
    {% endfor %}

    <!-- extra button for geocoding -->



</div>


{% endblock %}


{% endif %}



{% block sidebar %}
<div style="width: 400px;">
    This will add Google lat-long coördinates, based on the current location address. It can take some time.
    <form action="geocode" method="post">
        {% csrf_token %}
        <input type="hidden" name="action" value="geocode_current_address" />
        <input type="submit" name="Geocode" value="geocode addresses" />
    </form>
</div>

{% endblock %}